info:
  description: iov-console-web

---
spring:
  profiles: {{spring.profiles}}
  data:
    mongodb:
      uri: mongodb://{{mongodb.user}}:{{mongodb.pass}}@{{mongodb.host}}:{{mongodb.port}}/{{mongodb.prefixkey}}vehicle-status?ssl=false&authMechanism=SCRAM-SHA-1
  datasource:
    url: jdbc:mysql://{{mysql.host}}:{{mysql.port}}/{{mysql.prefixkey}}IOV-C?useUnicode=true&characterEncoding=utf8
    username: {{mysql.user}}
    password: {{mysql.pass}}
    driver-class-name: com.mysql.jdbc.Driver
    min-idle: 5
    time-between-eviction-runs-millis: 60000
    idle-timeout: 30000
    validation-query: SELECT 1
    validation-interval: 30000
    test-while-idle: true
  jpa:
    show-sql: true
    hibernate:
      dialect: org.hibernate.dialect.MySQL5Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        current_session_context_class: org.springframework.orm.hibernate4.SpringSessionContext
