<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:inline="text">[[${application.SYS_CONSTANT['sysName']}]]-码值列表</title>
    <link rel="stylesheet" type="text/css" href="/framework/ux/jeasyui/1.4.1/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/framework/ux/jeasyui/1.4.1/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/framework/theme/custom/frame.css" />
    <link rel="stylesheet" type="text/css" href="/framework/theme/custom/icon-extend.css" />
    <script type="text/javascript" src="/framework/ux/jeasyui/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/framework/ux/jeasyui/1.4.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/framework/ux/jeasyui/1.4.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/framework/sysmng/codes_list.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function(){
            var gridWidth = document.body.clientWidth - 20 ;
            var gridHeight = document.body.clientHeight - 90 ;
            codesList.init("/",/*[[${codeType}]]*/ "",gridWidth,gridHeight);
            $(window).resize(function(){
                var gridWidth = document.body.clientWidth - 20;
                $("#codesList").datagrid('resize',{'width':gridWidth});
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<form id="queryForm" name="queryForm" method="post">
    <fieldset>
        <legend>查询条件</legend>
        <p style="float:left;"><label>名称：</label><input type="text" name="codeName" size="20"/>&nbsp;</p>
        <p style="float:left;"><label>代码：</label><input type="text" name="codeKey" size="20"/>&nbsp;</p>
        <p style="float:left;"><label>码值：</label><input type="text" name="codeValue" size="20"/>&nbsp;</p>
        <p style="float:right;">&nbsp;<a href="javascript:codesList.resetQuery();" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">重置</a>&nbsp;</p>
        <p style="float:right;">&nbsp;<a href="javascript:codesList.query();" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>&nbsp;</p>
    </fieldset>
</form>
<table id="codesList"></table>
<!-- 详情窗口 -->
<div id="detailWin">
  <form name="ff" id="ff" method="post">
  <input type="hidden" name="id" />
  <p style="height:26px;">&nbsp;
      名称：<input type="text" name="codeName" />
  </p>
  <p style="height:26px;">&nbsp;
      代码：<input type="text" name="codeKey" />
  </p>
  <p style="height:26px;">&nbsp;
      码值：<input type="text" name="codeValue" style="width:460px;"/>
  </p>
  <p style="height:26px;">&nbsp;
      状态：<select name="codeState">
        <option value="0">有效</option>
        <option value="1">无效</option>
      </select>
  </p>
  <p style="height:26px;">&nbsp;
      预留：<input type="text" name="remainField" />
  </p>
  <p style="height:100px;">&nbsp;
      说明：<textarea name="codeDesc" style="width:460px;height:90px;"></textarea>
  </p>
  <p style="height:26px;margin-top:5px;text-align:center;">
  	  <a href="javascript:codesList.save()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
  </p>
  </form>
</div>
</body>
</html>
