<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:inline="text">[[${application.SYS_CONSTANT['sysName']}]]-角色列表</title>
    <link rel="stylesheet" type="text/css" href="/framework/ux/jeasyui/1.4.1/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/framework/ux/jeasyui/1.4.1/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/framework/theme/custom/frame.css" />
    <link rel="stylesheet" type="text/css" href="/framework/theme/custom/icon-extend.css" />
    <script type="text/javascript" src="/framework/ux/jeasyui/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/framework/ux/jeasyui/1.4.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/framework/ux/jeasyui/1.4.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/framework/sysmng/role_list.js"></script>
    <script type="text/javascript">
        $(function(){
            var gridWidth = document.body.clientWidth - 20 ;
            var gridHeight = document.body.clientHeight - 90 ;
            roleList.init("/",gridWidth,gridHeight);
            $(window).resize(function(){
                var gridWidth = document.body.clientWidth - 20;
                $("#roleList").datagrid('resize',{'width':gridWidth});
            });
        });
    </script>
</head>
<body>
<form id="queryForm" name="queryForm" method="post">
    <fieldset>
        <legend>查询条件</legend>
        <p style="float:left;"><label>名称：</label><input type="text" name="roleName" size="20"/>&nbsp;</p>
        <p style="float:left;"><label>状态：</label><select name="roleState">
            <option value="-1">--请选择--</option>
            <option value="0">启用</option>
            <option value="1">禁用</option>
        </select></p>
        <p style="float:right;">&nbsp;<a href="javascript:roleList.resetQuery();" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">重置</a>&nbsp;</p>
        <p style="float:right;">&nbsp;<a href="javascript:roleList.query();" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>&nbsp;</p>
    </fieldset>
</form>
<table id="roleList"></table>
<!-- 详情窗口 -->
<div id="detailWin" class="easyui-window">
  <form name="ff" id="ff" method="post">
  <input type="hidden" name="id" />
  <p style="height:26px;">&nbsp;
      名称：<input type="text" name="roleName" />&nbsp;
  </p>
  <p style="height:26px;">&nbsp;
      状态：<select name="roleState">
        <option value="0">有效</option>
        <option value="1">无效</option>
      </select>
  </p>
  <p style="height:100px;">&nbsp;
      说明：<textarea name="roleDesc" style="width:460px;height:90px;"></textarea>
  </p>
  <p style="height:26px;text-align:center;margin-top:5px;">
  	  <a href="javascript:roleList.save()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
  </p>
  </form>
</div>
<!-- 成员窗口 -->
<div id="membWin" class="easyui-window">
	<table id="membList"></table>
</div>
<!-- 权限窗口 -->
<div id="permitWin" class="easyui-window">
	<ul id="permitTree"></ul>
</div>
</body>
</html>
