<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:inline="text">[[${application.SYS_CONSTANT['sysName']}]]-事件分发配置</title>
    <link rel="stylesheet" type="text/css" href="/framework/ux/jeasyui/1.5/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/framework/ux/jeasyui/1.5/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/framework/theme/custom/frame.css" />
    <link rel="stylesheet" type="text/css" href="/framework/theme/custom/icon-extend.css" />
</head>
<body>
<div style="float:left">
    <table id="eventTree"></table>
</div>
<div id="noSelectNode" style="float:left">
    <span style="font-size:11pt;font-weight:bold;">请选择事件</span>
</div>
<div id="nodeInfo" style="display:none;float:left">
    <table id="eventTopicList"></table>
</div>
<!-- 菜单 -->
<div id="treeMenu"></div>
<!--过滤字段对话框-->
<div id="ddFilter">
    <form id="ffFilter" method="post">
        <input type="hidden" name="id" />
        <div style="margin-top: 10px">
            <textarea name="valFilter" rows="15" cols="50"></textarea>
        </div>
    </form>
</div>
<!--别名字段对话框-->
<div id="ddAlias">
    <form id="ffAlias" method="post">
        <input type="hidden" name="id" />
        <div style="margin-top: 10px">
            <textarea name="valAlias" rows="15" cols="50"></textarea>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="/framework/ux/jeasyui/1.5/jquery.min.js"></script>
<script type="text/javascript" src="/framework/ux/jeasyui/jquery.base64.js"></script>
<script type="text/javascript" src="/framework/ux/jeasyui/1.5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/framework/ux/jeasyui/1.5/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/iov/metadata/mpd_event_topic.js"></script>
<script type="text/javascript">
    $(function(){
        var height=document.body.clientHeight-20;
        var width=document.body.clientWidth;
        eventTopic.init('/',width,height);
        $(window).resize(function(){
            var totalWidth=document.body.clientWidth;
            $("#eventTopicList").datagrid('resize',{'width':totalWidth-420});
        });
    });
</script>
</html>
